.spittleList .spittle {
	margin-bottom: 14px;
}

.spittleList .spittle .title {
	font-weight: bold;
}

.spittleList .spittle .title .spittleDate {
	float: right;
	margin-left: 10px;
}

.spittleList .spittle .title .titleText {
	word-wrap: break-word;
}

.spittleList .spittle .message {
	width: 100%;
	padding-top: 10px;
}

.spittleList .spittle hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.spittleList .spittle hr.last {
	display: none;
}

.newSpittleLink {
	margin-bottom: 20px;
}