.spittleList .spittle {
	margin-bottom: 14px;
	display: table;
	width: 100%;
}

.spittleList .spittle .title {
	font-weight: bold;
}

.spittleList .spittle .title .actions {
	float: right;
	margin-left: 10px;
}

.spittleList .spittle .title .titleText {
	word-wrap: break-word;
}

.spittleList .spittle .message {
	width: 100%;
	width: 100%;
	padding-top: 10px;
	white-space: pre-wrap;
}

.spittleList hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.spittleList hr.last {
	display: none;
}

.spittleList .spittle .userInfo {
	width: 20%;
	display: table-cell;
	vertical-align: middle;
}

.spittleList .spittle .userInfo {
	font-size: 10px;
}

.spittleList .spittle .userInfo .userImage img {
	height: 100px;
}

.spittleList .spittle .spittleInfo {
	display: table-cell;
	width: 80%;	
}

.linksContainer {
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}

.linksContainer div {
	display: inline-block;
}

.userManagementLink {
	float: right;
}