body {
	background-color: #eeeeee;
	font-family: sans-serif;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

/* header */
#header h1 {
	display: inline-block;
}

#header .loginWrapper {
	float: right;
}

/* forms */
form .formSection, form .buttons {
	margin-left: 10px;
	margin-right: 20px;
}

form .formSection :FIRST-CHILD {
	margin-top: 10px;
}

form .formSection label {
	display: block;
}

form .formSection input, form .formSection textarea {
	max-width: 60%;
	min-width: 60%;
}

form .formSection textarea {
	min-height: 200px;	
}

form .buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

form .error {
	background-color: red;
}

form .formErrorMessage {
	color: red;
	display: block;
	font-size: small;
}

form .checkboxWrapper {
	display: table;
	margin-top: 10px;
}

form .formSection.checkboxWrapper * {
	display: table-cell;
}

form label.required::AFTER {
	content: "*";
	color: red;
}

.marginWrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* errors */

.errorMessage {
	color: red;
	font-weight: bold;
}

/* footer */
#footer {
	margin-top: 10px;
}

#footer div.app_version {
	font-size: 10px;
	color: #eeeeee;
}