body {
	background-color: #eeeeee;
	font-family: sans-serif;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

.errorMessage {
	color: red;
	font-weight: bold;
}

/* footer */
#footer {
	margin-top: 10px;
}

#footer div.app_version {
	font-size: 10px;
	color: #eeeeee;
}